@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,600;1,700&family=Cinzel:wght@400;500;600;700;800&family=Cuprum:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Julius+Sans+One&display=swap');

// font-family: 'Cuprum', sans-serif;
// font-family: 'Fira Sans Extra Condensed', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Cinzel', serif;

body {
    overflow-y: hidden !important;
    overscroll-behavior: contain !important;
    // https://developers.google.com/web/updates/2017/11/overscroll-behavior
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-left-color: #f70f67;
    animation: spin 1s ease infinite;
    margin-left: calc(50% - 64px);
    margin-top: calc(50vh - 64px - 80px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img.avatar {
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175), 0 3px 3px rgba(0, 0, 0, 0.33);
}

li {
    list-style: none;
}

.avatar-signin {
    margin: 10px;
    flex: 0 1 auto;
    width: 180px !important;
    height: 180px !important;
}

div.div-flex-centrado {
    margin-top: calc(5% + 1px);
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 60vh;
    width: calc(60vw + 1px);
    min-width: 55vw;
    // place-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.flex-inner {
    flex: 1 1 auto;
    align-self: center;
}

.firebaseui-card-content {
    padding: 1px !important;
}

@media (min-width: 520px) {
    div.div-centrado {
        height: 90vh;
        width: 520px;
    }
}

input.error,
select.error,
div.error {
    margin-top: 5px;
    padding-left: 3px;
    border-color: transparent transparent transparent rgba(236, 89, 144, 0.45) !important;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    border-image: none 100% / 1 / 0 stretch;
    background: rgba(251, 236, 242, 0.35) none repeat scroll 0% 0%;
    transition: all 0.3s ease-in-out;
}

input.no-error,
select.no-error,
div.no-error {
    transition: all 0.3s ease-in-out;
}

.main-container {
    padding-top: 1.2rem !important;
}

.main-container-signin {
    padding-top: 1.2rem !important;
    // background-image: url('/entrada.jpg');
    // background-color: #1eb662;
    // background-color: #5e2abe;
    background-color: #f88783;
    // background-color: #f70f67;
    height: 100vh;
    // max-width: 400px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
